.w100 {
    width: 100%;
}

.eventsPage {
    background-image: url('../../Images/mosaic-bg.png');
    padding: 50px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    overflow: hidden;
}
.pageHeader {
    text-align: center;
    width: fit-content;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom: 0px !important;
    margin-bottom: 50px;
}
.accordion {
    width: 100%;
}
.eventGroup {
    width: 100%;
    margin-bottom: 100px;
}
.eventGroupHeaderTxt {
    font-size: clamp(15px, 18px, 25px);
    width: 100%;
    font-weight: 500;
    text-transform: uppercase;
}
.line {
    border: 0;
    height: 1px;
    background: #000;
    width: 100%;
    opacity: 1;
}
.eventGroupHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
}
.eventImg {
    min-width: 100%;
    max-height: 300px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 10px;
}
.eventHeader {
    border: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 20px;
}
.eventBody {
    font-size: clamp(10px, 12px, 15px);
    font-weight: 400;
    padding-left: 25px;
    text-transform: uppercase;
    align-self: flex-start;
}